<% layout('/layouts/default.html', {title: '高程——起始数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('高程——起始数据管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('el_origin_data:elOriginData:edit')){ %>
					<a href="${ctx}/el_origin_data/elOriginData/form" class="btn btn-default btnTool" title="${text('新增高程——起始数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${elOriginData}" action="${ctx}/el_origin_data/elOriginData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<!--————————————————————————————————————————————————————————————————————————-->
				<!--2022年5月30日 su修改-->
				<div class="form-group">
					<label class="control-label">${text('小组')}：</label>
					<div class="control-inline width-120">
						<#form:select path="group.id" id="group_id"
						items="${groupList}" itemLabel="groupName" itemValue="id"
						dictType="" blankOption="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('导线')}：</label>
					<div class="control-inline width-120">
						<#form:select path="line.id" id="line_id"
						items="${lineList}" itemLabel="lineName" itemValue="id"
						dictType="" blankOption="true" class="form-control" />
					</div>
				</div>
				<!--————————————————————————————————————————————————————————————————————————-->
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<!--引入公共js代码 2022年5月30日 su添加-->
<script src="${ctxStatic}/common/common.js"></script>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		// 新增小组和导线两列 2022年5月30日 su添加
		{header:'${text("小组")}', name:'group.groupName', index:'u5.group_name', width:100, align:"center"},
		{header:'${text("导线")}', name:'line.lineName', index:'u4.line_name', width:100, align:"center"},

		{header:'${text("测站名")}', name:'originStation.stationName', index:'u2.station_name', width:100, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/el_origin_data/elOriginData/form?id='+row.id+'" class="btnList" data-title="${text("编辑高程——起始数据")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("高程(m)")}', name:'originElevation', index:'a.origin_elevation', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 4, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("测站名")}', name:'endStation.stationName', index:'u3.station_name', width:100, align:"center", frozen:true, formatter: function(val, obj, row, act){
				return '<a href="${ctx}/el_origin_data/elOriginData/form?id='+row.id+'" class="btnList" data-title="${text("编辑高程——起始数据")}">'+(val||row.id)+'</a>';
			}},
		{header:'${text("高程(m)")}', name:'endElevation', index:'a.end_elevation', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 4, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:50, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, align:"center", sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('el_origin_data:elOriginData:edit')){ %>
				actions.push('<a href="${ctx}/el_origin_data/elOriginData/form?id='+row.id+'" class="btnList" title="${text("编辑高程——起始数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				// actions.push('<a href="${ctx}/el_origin_data/elOriginData/delete?id='+row.id+'" class="btnList" title="${text("删除高程——起始数据")}" data-confirm="${text("确认要删除该高程——起始数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		// 2022年5月30日 su添加
		// 合并相同数据行。在加载完成数据之后调用 mergeCell 方法：
		// 第二个参数指定，合并的单元格列名（多个用逗号分隔，如：'company.companyNameSimple,office.officeName'）
		// 合并相同的小组名称
		$('#dataGrid').dataGrid('mergeCell', 'group.groupName');
	},
	// 设置多级表头 2022年5月30日 su添加
	groupHeaders: {
		twoLevel:[
			{startColumnName: 'originStation.stationName', numberOfColumns: 2, titleText: '起始测站数据'},
			{startColumnName: 'endStation.stationName', numberOfColumns: 2, titleText: '终点测站数据'},
		]
	}
});

// 查询导线 2022年5月30日 su添加
$("#group_id").change(function () {
	var lineSelect = document.getElementById("line_id");
	// 需要先把导线下拉框置空
	$("#line_id").empty();
	//小组下拉框改变时发送请求到后台查询对应小组下的导线
	$.get("${ctx}/el_line/eLLine/findLineListByGroupId?groupId=" + this.value, function (result) {
		var lineList = result.ELLineList;
		// 给导线下拉框添加选项
		// 空白项
		lineSelect.options.add(new Option("", ""));
		// 其他项
		lineList.forEach(function (line) {
			lineSelect.options.add(new Option(line.lineName, line.id));
		});
	});
});
</script>